TD.clsRadioButtonMenu {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-WEIGHT: normal; FONT-SIZE: 9pt; BORDER-LEFT: medium none; COLOR: mediumblue; LINE-HEIGHT: normal; BORDER-BOTTOM: medium none; FONT-STYLE: normal; FONT-FAMILY: Arial, sans-serif; TEXT-ALIGN: left; TEXT-DECORATION: underline
}
TD.clsRadioButtonMenuSelected {
	FONT-WEIGHT: bolder; FONT-SIZE: 9pt; COLOR: black; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: Arial, sans-serif; TEXT-ALIGN: left; TEXT-DECORATION: none
}
A.clsRadioButtonMenu {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; COLOR: mediumblue; FONT-STYLE: normal; FONT-FAMILY: Arial, sans-serif; TEXT-DECORATION: underline
}
A.clsRadioButtonMenuSelected {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: black; FONT-STYLE: normal; FONT-FAMILY: Arial, sans-serif; TEXT-DECORATION: none
}
SPAN.clsTitle1 {
	FONT-WEIGHT: bold; FONT-SIZE: 15pt; COLOR: #336699; TEXT-INDENT: 0pt; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: Arial, sans-serif; TEXT-DECORATION: none
}
SPAN.clsTitle2 {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: #336699; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: Arial, sans-serif; TEXT-DECORATION: none
}
TD.clsBody {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; COLOR: black; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: Arial, sans-serif; TEXT-DECORATION: none
}
SPAN.clsBody {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; COLOR: black; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: Arial, sans-serif; TEXT-DECORATION: none
}
A.clsBody {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; COLOR: blue; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: Arial, sans-serif; TEXT-DECORATION: underline
}
TD.clsError,#noscript {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: white; FONT-STYLE: normal; FONT-FAMILY: Arial, sans-serif; BACKGROUND-COLOR: red; TEXT-DECORATION: none
}
TD.clsErrorNoBackGrnd {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: red; FONT-STYLE: normal; FONT-FAMILY: Arial, sans-serif;  TEXT-DECORATION: none
}
TD.clsWarning {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: white; FONT-STYLE: normal; FONT-FAMILY: Arial, sans-serif; BACKGROUND-COLOR: steelblue; TEXT-DECORATION: none
}
SPAN.clsTableCaption {
	FONT-WEIGHT: bold; FONT-SIZE: 11pt; COLOR: black; FONT-STYLE: normal; FONT-FAMILY: Arial, sans-serif; TEXT-DECORATON: none
}
TD.clsTableHeader {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-WEIGHT: bold; FONT-SIZE: 9pt; FONT-FAMILY: Arial, sans-serif; BORDER-LEFT: medium none; COLOR: #000000; TEXT-INDENT: 3pt; LINE-HEIGHT: normal; BORDER-BOTTOM: medium none; FONT-STYLE: normal; LETTER-SPACING: normal; BACKGROUND-COLOR: #c3dcf0; TEXT-ALIGN: left
}
TD.clsBoldTableHeader {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-WEIGHT: bold; FONT-SIZE: 9pt; FONT-FAMILY: Arial, sans-serif; BORDER-LEFT: medium none; COLOR: #000000; TEXT-INDENT: 3pt; LINE-HEIGHT: normal; BORDER-BOTTOM: medium none; FONT-STYLE: normal; LETTER-SPACING: normal; TEXT-ALIGN: left
}
TD.clsTableHeader1 {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-WEIGHT: bold; FONT-SIZE: 9pt; BORDER-LEFT: medium none; COLOR: #000000; TEXT-INDENT: 3pt; LINE-HEIGHT: normal; BORDER-BOTTOM: medium none; FONT-STYLE: normal; LETTER-SPACING: normal; BACKGROUND-COLOR: #c3dcf0; TEXT-ALIGN: left
}
TD.clsTableElement {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-WEIGHT: normal; FONT-SIZE: 9pt; BORDER-LEFT: medium none; COLOR: #000000; TEXT-INDENT: 3pt; LINE-HEIGHT: normal; BORDER-BOTTOM: medium none; FONT-STYLE: normal; FONT-FAMILY: Arial, sans-serif; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left; TEXT-DECORATION: none
}
SPAN.clsBTableCaption {
	FONT-WEIGHT: bold; FONT-SIZE: 11pt; COLOR: black; FONT-STYLE: normal; FONT-FAMILY: Arial, sans-serif; TEXT-DECORATON: none
}
TD.clsBTableHeader {
	BORDER-RIGHT: #778899 1pt solid; BORDER-TOP: #778899 1pt solid; FONT-WEIGHT: normal; FONT-SIZE: 8pt; BORDER-LEFT: #778899 1pt solid; COLOR: #000000; TEXT-INDENT: 0pt; LINE-HEIGHT: normal; PADDING-TOP: 0pt; BORDER-BOTTOM: #778899 1pt solid; FONT-STYLE: normal; FONT-FAMILY: Arial, sans-serif; LETTER-SPACING: normal; BACKGROUND-COLOR: #c3dcf0; TEXT-ALIGN: left
}
TD.clsChkElement {
	BORDER-RIGHT: #778899 1pt solid; BORDER-TOP: #778899 1pt solid; FONT-WEIGHT: 600; FONT-SIZE: 8pt; BORDER-LEFT: #778899 1pt solid; COLOR: #000000; TEXT-INDENT: 0pt; LINE-HEIGHT: normal; PADDING-TOP: 0pt; BORDER-BOTTOM: #778899 1pt solid; FONT-STYLE: normal; LETTER-SPACING: normal; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: center
}
A.clsBTableHeader {
	FONT-WEIGHT: normal; COLOR: mediumblue; FONT-STYLE: normal; FONT-FAMILY: Arial, sans-serif; TEXT-DECORATION: underline
}
TD.clsBTableHeaderRequired {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; COLOR: blue; FONT-STYLE: normal; FONT-FAMILY: Arial, sans-serif; BACKGROUND-COLOR: cornsilk; TEXT-ALIGN: left; TEXT-DECORATION: none
}
TD.clsBTableElement {
	BORDER-RIGHT: #778899 1pt solid; BORDER-TOP: #778899 1pt solid; FONT-WEIGHT: normal; FONT-SIZE: 8pt; BORDER-LEFT: #778899 1pt solid; COLOR: black; TEXT-INDENT: 0pt; PADDING-TOP: 0pt; BORDER-BOTTOM: #778899 1pt solid; FONT-STYLE: normal; FONT-FAMILY: Arial, sans-serif; TEXT-ALIGN: left; TEXT-DECORATION: none
}
TD.clsBTableElement1 {
	width:104px; BORDER-RIGHT: #778899 1pt solid; BORDER-TOP: #778899 1pt solid; FONT-WEIGHT: normal; FONT-SIZE: 8pt; BORDER-LEFT: #778899 1pt solid; COLOR: black; TEXT-INDENT: 0pt; PADDING-TOP: 0pt; BORDER-BOTTOM: #778899 1pt solid; FONT-STYLE: normal; FONT-FAMILY: Arial, sans-serif; TEXT-ALIGN: left; TEXT-DECORATION: none
}
TD.clsBTableImg {
	PADDING-TOP: 1pt; PADDING-BOTTOM: 1pt; PADDING-LEFT: 1pt; PADDING-RIGHT: 1pt; BORDER-RIGHT: #778899 1pt solid; BORDER-TOP: #778899 1pt solid; BORDER-LEFT: #778899 1pt solid; BORDER-BOTTOM: #778899 1pt solid;
}
TD.clsBTableMarkedElement {
	BORDER-RIGHT: #778899 1pt solid; BORDER-TOP: #778899 1pt solid; FONT-WEIGHT: normal; FONT-SIZE: 8pt; BORDER-LEFT: #778899 1pt solid; COLOR: blue; TEXT-INDENT: 0pt; PADDING-TOP: 0pt; BORDER-BOTTOM: #778899 1pt solid; FONT-STYLE: normal; FONT-FAMILY: Arial, sans-serif; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left; TEXT-DECORATION: none
}
TD.clsBoldTableHeader1 {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-WEIGHT: bold; FONT-SIZE: 9pt; BORDER-LEFT: medium none; COLOR: #000000; TEXT-INDENT: 3pt; LINE-HEIGHT: normal; BORDER-BOTTOM: medium none; FONT-STYLE: normal; LETTER-SPACING: normal; TEXT-ALIGN: left
}
A.clsBTableElement {
	FONT-WEIGHT: normal; COLOR: blue; FONT-STYLE: normal; FONT-FAMILY: Arial, sans-serif; TEXT-DECORATION: underline
}
INPUT.clsBody {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; COLOR: black; FONT-STYLE: normal; FONT-FAMILY: Arial, sans-serif; TEXT-DECORATION: none
}
TD.clsDeviceStatus {
	FONT-WEIGHT: 600; FONT-SIZE: 10pt; VERTICAL-ALIGN: middle; COLOR: #336699; FONT-FAMILY: Arial, sans-serif; TOP: 20px; BACKGROUND-COLOR: #ffffe0; TEXT-ALIGN: right
}
TD.clsDeviceStatusStHelens {
	FONT-WEIGHT: 600; FONT-SIZE: 10pt; VERTICAL-ALIGN: middle; COLOR: #336699; FONT-FAMILY: Arial, sans-serif; TOP: 20px; BACKGROUND-COLOR: #ffffe0; TEXT-ALIGN: center
}
TD.clsDeviceStatusLink {
	FONT-WEIGHT: 600; FONT-SIZE: 10pt; VERTICAL-ALIGN: middle; COLOR: #336699; FONT-FAMILY: Arial, sans-serif; TOP: 20px; BACKGROUND-COLOR: #ffffe0; TEXT-ALIGN: right; padding-right:20px; padding-top:10px
}
TD.clsDeviceReady {
	FONT-WEIGHT: 600; FONT-SIZE: 10pt; VERTICAL-ALIGN: middle; COLOR: #336699; FONT-FAMILY: Arial, sans-serif; TOP: 20px; BACKGROUND-COLOR: #ffffe0
}
TD.clsDeviceError {
	FONT-WEIGHT: 600; FONT-SIZE: 10pt; VERTICAL-ALIGN: middle; COLOR: red; FONT-FAMILY: Arial, sans-serif; TOP: 20px; BACKGROUND-COLOR: #ffffe0
}
TD.clsTopMenu {
	BACKGROUND-POSITION: left center; FONT-WEIGHT: bold; FONT-SIZE: 10pt; BACKGROUND-IMAGE: url(/Graphics/graytab.gif); COLOR: black; BACKGROUND-REPEAT: no-repeat; FONT-STYLE: normal; FONT-FAMILY: Arial, sans-serif; BACKGROUND-COLOR: #ffffe0; TEXT-ALIGN: center
}
TD.clsTopMenuSelected {
	BACKGROUND-POSITION: left center; FONT-WEIGHT: 600; FONT-SIZE: 10pt; BACKGROUND-IMAGE: url(/Graphics/bluetab.gif); COLOR: turquoise; BACKGROUND-REPEAT: no-repeat; FONT-STYLE: normal; FONT-FAMILY: Arial, sans-serif; TEXT-ALIGN: center
}
TD.clsSubMenuSelected {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: green; FONT-STYLE: normal; FONT-FAMILY: Arial, sans-serif; BACKGROUND-COLOR: #6699cc; TEXT-ALIGN: center; TEXT-DECORATION: underline
}
TD.clsGrpSelected {
    BACKGROUND-COLOR: #6699cc; BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #ffffe0; BORDER-LEFT: medium none; TEXT-INDENT: 5pt; LINE-HEIGHT: normal; BORDER-BOTTOM: medium none; FONT-STYLE: normal; FONT-FAMILY: Arial, sans-serif; TEXT-DECORATION: none 
}
TR.clsMiniButton {
	FONT-SIZE: 8pt; BACKGROUND-COLOR: #ffffff
}
TD.clsMiniButton {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #336699; FONT-STYLE: normal; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: center; TEXT-DECORATION: none
}
INPUT.clsMiniButton {
	FONT-WEIGHT: 300; FONT-SIZE: 6pt; WIDTH: 10pt; COLOR: #b22222; FONT-STYLE: normal; FONT-FAMILY: Arial, sans-serif; HEIGHT: 10pt
}
TR.clsFooter {
	BACKGROUND-COLOR: #6699cc
}
TD.clsFooterLogo {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: red; FONT-STYLE: normal; FONT-FAMILY: Arial, sans-serif; BACKGROUND-COLOR: #6699cc; TEXT-ALIGN: left; TEXT-DECORATION: none
}
TD.clsFooter {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Arial, sans-serif; BACKGROUND-COLOR: #6699cc; TEXT-ALIGN: center; align: left; vAlign: top
}
TD.clsFooter1 {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Arial, sans-serif; BACKGROUND-COLOR: #6699cc; TEXT-ALIGN: right; align: left; vAlign: top
}
TD.clsFooter2 {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Arial, sans-serif; BACKGROUND-COLOR: #6699cc; TEXT-ALIGN: left; align: left; vAlign: top
}
A.clsFooter {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; COLOR: rgb(0,0,128); FONT-FAMILY: Arial, sans-serif; BACKGROUND-COLOR: #6699cc; TEXT-DECORATION: underline
}
TD.clsCopyright {
	FONT-WEIGHT: normal; FONT-SIZE: 7pt; COLOR: #ffffe0; FONT-STYLE: normal; FONT-FAMILY: Arial, sans-serif; BACKGROUND-COLOR: #6699cc; TEXT-ALIGN: right; TEXT-DECORATION: none
}
.clsLogin {
	FONT-WEIGHT: 600; FONT-SIZE: 10pt; COLOR: #336699; FONT-FAMILY: Arial, sans-serif; BACKGROUND-COLOR: #ffffe0; TEXT-ALIGN: right; TEXT-DECORATION: underline
}
TD.clsTopAccessLogo {
	FONT-WEIGHT: 800; FONT-SIZE: 19pt; BACKGROUND-IMAGE: url(/Graphics/topaccesslogo.gif); TEXT-TRANSFORM: uppercase; COLOR: #336699; BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: #ffffe0; width: 150px; height: 32px
}
TABLE.clsTopAccessHeader {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; WIDTH: 700px; BORDER-BOTTOM: medium none; HEIGHT: 33px; BACKGROUND-COLOR: aliceblue; TEXT-ALIGN: left
}
TR.clsTopAccessHeaderRow {
	BACKGROUND-COLOR: #ffffe0; TEXT-ALIGN: left
}
TD.clsSubMenu {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Arial, sans-serif; BACKGROUND-COLOR: #6699cc; TEXT-ALIGN: center; align: left; vAlign: top
}
A:active {
	COLOR: #87cefa; FONT-FAMILY: Arial, sans-serif
}
A:hover {
	COLOR: #7d00cd; FONT-FAMILY: Arial, sans-serif
}
A.clsTopMenuLink {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: black; FONT-FAMILY: Arial, sans-serif; TEXT-DECORATION: none
}
A.clsSubMenuLink {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; COLOR: rgb(0,0,128); FONT-FAMILY: Arial, sans-serif; BACKGROUND-COLOR: #6699cc; TEXT-DECORATION: underline
}
A.clsSelectedTopMenuLink {
	FONT-WEIGHT: 600; FONT-SIZE: 8pt; COLOR: #ffffe0; FONT-FAMILY: Arial, sans-serif; TEXT-DECORATION: none
}
A.clsSubMenuLinkSelected {
	FONT-WEIGHT: 600; FONT-SIZE: 9pt; COLOR: #ffffe0; FONT-FAMILY: Arial, sans-serif; BACKGROUND-COLOR: #6699cc; TEXT-DECORATION: none
}
A.clsJumpToLink {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #0000ff; FONT-STYLE: normal; FONT-FAMILY: Arial, sans-serif; TEXT-DECORATION: underline
}
TD.clsAdminFooter {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #336699; FONT-STYLE: normal; FONT-FAMILY: Arial, sans-serif; BACKGROUND-COLOR: #f0f8ff; TEXT-ALIGN: center; TEXT-DECORATION: none
}
A.clsFooterLink {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Arial, sans-serif; TEXT-DECORATION: none
}
TABLE.Outer {
	BORDER-RIGHT: black 0px solid; BORDER-TOP: black 0px solid; FONT-WEIGHT: normal; FONT-SIZE: 9pt; Z-INDEX: 1; BACKGROUND-IMAGE: none; BORDER-LEFT: black 0px solid; COLOR: #000000; BORDER-BOTTOM: black 0px solid; BACKGROUND-REPEAT: repeat; BACKGROUND-COLOR: #b0c4de
}
TABLE.Inner {
	BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; FONT-WEIGHT: normal; FONT-SIZE: 9pt; BACKGROUND-IMAGE: none; BORDER-LEFT: 0px solid; COLOR: #000000; BORDER-BOTTOM: 0px solid; BACKGROUND-REPEAT: repeat; BACKGROUND-COLOR: #dcdcdc
}
TABLE.Generic {
	BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; Z-INDEX: 1; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 0px solid
}
TD.clsSubMenuCurve {
	BACKGROUND-IMAGE: url(Graphics/bluecurve.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: #ffffe0
}
A.clsAdminFooterLink {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #336699; FONT-FAMILY: Arial, sans-serif; TEXT-DECORATION: none
}
.clsJobCheckBox {
	BACKGROUND-COLOR: #b0c4de; TEXT-ALIGN: center
}
TD.clsHeaderCheck {
	BORDER-RIGHT: #778899 1pt solid; BORDER-TOP: #778899 1pt solid; BORDER-LEFT: #778899 1pt solid; PADDING-TOP: 0pt; BORDER-BOTTOM: #778899 1pt solid; BACKGROUND-COLOR: #f0f8ff
}
INPUT.clsButton {
	BORDER-RIGHT: #778899 1pt solid; BORDER-TOP: #778899 1pt solid; BORDER-LEFT: #778899 1pt solid; COLOR: #000000; BORDER-BOTTOM: #778899 1pt solid; FONT-FAMILY: Arial, sans-serif; HEIGHT: 14pt; BACKGROUND-COLOR: #cccccc
}
INPUT.clsCheck {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BACKGROUND-IMAGE: url(Graphics/checkbutton.gif); BORDER-LEFT: medium none; WIDTH: 13pt; BORDER-BOTTOM: medium none; FONT-FAMILY: Arial, sans-serif; HEIGHT: 13pt; TEXT-ALIGN: center
}
SPAN.clsTitle3 {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: navy; FONT-STYLE: normal; FONT-FAMILY: Arial, sans-serif; BACKGROUND-COLOR: #b0c4de; TEXT-DECORATION: none
}
SPAN.clsTitle4 {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: navy; FONT-STYLE: normal; FONT-FAMILY: Arial, sans-serif; TEXT-DECORATION: none
}
TD.clsSubHeader {
	BORDER-RIGHT: #778899 1pt solid; BORDER-TOP: #778899 1pt solid; FONT-WEIGHT: normal; FONT-SIZE: 8pt; BORDER-LEFT: #778899 1pt solid; COLOR: #000000; TEXT-INDENT: 0pt; LINE-HEIGHT: normal; PADDING-TOP: 0pt; BORDER-BOTTOM: #778899 1pt solid; FONT-STYLE: normal; FONT-FAMILY: Arial, sans-serif; LETTER-SPACING: normal; BACKGROUND-COLOR: #c3dcf0; TEXT-ALIGN: left
}
.clsRefresh {
	FONT-SIZE: 7pt; COLOR: #336699; FONT-FAMILY: Arial, sans-serif
}
BODY {
	BORDER-TOP-WIDTH: 0px; PADDING-TOP: 0px
}
BODY.clsMargin {
	MARGIN-LEFT: 30px; PADDING-TOP: 0px
}
BODY.clsBgColor {
	BACKGROUND-COLOR: #ffffe0
}
TR.clsBackYellow {
	BACKGROUND-COLOR: #ffffe0
}
TR.clsBackWhite {
	
}
SPAN.clsFontColor {
	FONT-WEIGHT: normal; COLOR: mediumblue; FONT-STYLE: normal; FONT-FAMILY: Arial, sans-serif; TEXT-DECORATION: underline
}
SPAN.clsCheckButton {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; COLOR: black; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: "MS Gothic"; TEXT-DECORATION: none
}
TD.clsTableSortHeader {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-WEIGHT: normal; FONT-SIZE: 10pt; BORDER-LEFT: medium none; COLOR: #000000; TEXT-INDENT: 3pt; LINE-HEIGHT: normal; BORDER-BOTTOM: medium none; FONT-STYLE: normal; FONT-FAMILY: "MS Gothic"; LETTER-SPACING: normal; BACKGROUND-COLOR: #f0f8ff; TEXT-ALIGN: left
}
TD.clsBTableSortHeader {
	BORDER-RIGHT: #778899 1pt solid; BORDER-TOP: #778899 1pt solid; FONT-WEIGHT: normal; FONT-SIZE: 10pt; BORDER-LEFT: #778899 1pt solid; COLOR: #000000; TEXT-INDENT: 0pt; LINE-HEIGHT: normal; PADDING-TOP: 0pt; BORDER-BOTTOM: #778899 1pt solid; FONT-STYLE: normal; FONT-FAMILY: "MS Gothic"; LETTER-SPACING: normal; BACKGROUND-COLOR: #c3dcf0; TEXT-ALIGN: left
}
TD.clsCAuthInfo {
	FONT-SIZE: 10pt; COLOR: red; FONT-FAMILY: Arial, sans-serif
}
A.clsHyperLinkDisable {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; COLOR: black; FONT-STYLE: normal; FONT-FAMILY: Arial, sans-serif; TEXT-DECORATION: none
}
TD.clsBTableTDNoBorder {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; TEXT-INDENT: 0pt; PADDING-TOP: 0pt; FONT-STYLE: normal; FONT-FAMILY: Arial, sans-serif; TEXT-ALIGN: left; TEXT-DECORATION: none
}
TD.clsSecurityTDNoBorder {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-WEIGHT: normal; FONT-SIZE: 9pt; BORDER-LEFT: medium none; TEXT-INDENT: 3pt; LINE-HEIGHT: normal; BORDER-BOTTOM: medium none; FONT-STYLE: normal; FONT-FAMILY: Arial, sans-serif; TEXT-DECORATION: none
}
P.clsParagraphBody {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-WEIGHT: normal; FONT-SIZE: 9pt; BORDER-LEFT: medium none; COLOR: #000000; TEXT-INDENT: 3pt; LINE-HEIGHT: normal; BORDER-BOTTOM: medium none; FONT-STYLE: normal; FONT-FAMILY: Arial, sans-serif; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left; TEXT-DECORATION: none
}
SPAN.clsTitle5 {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-WEIGHT: normal; FONT-SIZE: 10pt; BORDER-LEFT: medium none; COLOR: #000000; TEXT-INDENT: 3pt; LINE-HEIGHT: normal; BORDER-BOTTOM: medium none; FONT-STYLE: normal; FONT-FAMILY: Arial, sans-serif; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left; TEXT-DECORATION: none
}
textarea.clsTxtAreaElement {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-WEIGHT: normal; FONT-SIZE: 9pt; BORDER-LEFT: medium none; COLOR: #000000; TEXT-INDENT: 3pt; LINE-HEIGHT: normal; BORDER-BOTTOM: medium none; FONT-STYLE: normal; FONT-FAMILY: Arial, sans-serif; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left; TEXT-DECORATION: none
}
SPAN.editMssg
{
    COLOR: #ee1111;
    FONT-FAMILY: verdana, helvetica;
    FONT-SIZE: 10pt;
    FONT-STYLE: normal;
    LINE-HEIGHT: normal;
    TEXT-DECORATION: none;
    TEXT-INDENT: 1pt;
}
TD.clsNoBTableElement
{
    COLOR: black;
    FONT-FAMILY: Arial, sans-serif;
    FONT-SIZE: 8pt;
    FONT-STYLE: normal;
    FONT-WEIGHT: normal;
    PADDING-TOP: 0pt;
    TEXT-ALIGN: left;
    TEXT-DECORATION: none;

    TEXT-INDENT: 0pt

}

TD.clsTableElementReboot
{
    BACKGROUND-COLOR: #ffffff;
    BORDER-BOTTOM: medium none;
    BORDER-LEFT: medium none;
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    COLOR: #ee1111;
    FONT-FAMILY: Arial, sans-serif;
    FONT-SIZE: 9pt;
    FONT-STYLE: normal;
    FONT-WEIGHT: normal;
    LINE-HEIGHT: normal;
    TEXT-ALIGN: left;
    TEXT-DECORATION: none;
    TEXT-INDENT: 3pt
}
TD.clsRBTableElement
{
/*    BACKGROUND-COLOR: #ffffff;*/
    BORDER-RIGHT: #778899 1pt solid;
    COLOR: black;
    FONT-FAMILY: Arial, sans-serif;
    FONT-SIZE: 8pt;
    FONT-STYLE: normal;
    FONT-WEIGHT: normal;
    PADDING-TOP: 0pt;
    TEXT-ALIGN: left;
    TEXT-DECORATION: none;

    TEXT-INDENT: 0pt

}


.darkClass{
    background-color:white; filter:alpha(opacity=70); /* IE */opacity: 0.70; /* Safari, Opera */-moz-opacity:0.70; /* FireFox */z-index: 0;height: 100%;width: 100%;background-repeat:no-repeat;background-position:center;position:absolute;top: 0px;left: 0px;  text-align: center; text-decoration:blink;font-weight: bold; FONT-SIZE: 12pt;
}

.busy_indicator {

  float: center;
  background: rgb(250,201,199);
  margin-top: 5px;
  z-index: 1000;
  width: 150;
  height:27;
  font-weight: bold;
  text-align: center;
  font-size: 1em;
}
SPAN.percentageMssg
{
    /*COLOR: #ee1111;*/
    COLOR: #0000FF;
    FONT-FAMILY: verdana, helvetica;
    FONT-SIZE: 10pt; 
    FONT-STYLE: normal;
    LINE-HEIGHT: normal;
    TEXT-DECORATION: none;
    TEXT-INDENT: 1pt;
}
.tab {
    float:left;
    width:133px;
    height:30px;
    background-color: #BFBFBF/*rgb(196,185,196)*/;
}
.tab-selected {
    float:left;
    width:133px;
    height:30px;
    background-color:#6699CC;
}
.MenuLink {
    FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: black; FONT-FAMILY: Arial, sans-serif; TEXT-DECORATION: none
}
.divider{
    float:right;
    clear:both;
    width:1px;
    height:26px;
    background-color:#888888;
}
.MenuSelected {
    FONT-WEIGHT: 600;
    FONT-SIZE: 10pt;
    FONT-STYLE: normal;
    COLOR: turquoise;
    FONT-FAMILY: Arial, sans-serif;
    TEXT-ALIGN: center;
    position:relative;
    top:5px;

}
.MenuSelectedLink {
    FONT-WEIGHT: 600; FONT-SIZE: 8pt; COLOR: #ffffe0; FONT-FAMILY: Arial, sans-serif; TEXT-DECORATION: none
}
.Menu {
    FONT-WEIGHT: normal;
    FONT-SIZE: 10pt;
    FONT-STYLE: normal;
    FONT-FAMILY: Arial, sans-serif;
    TEXT-ALIGN: center;
    position:relative;
    top:5px;

}
.triagle-right {
    border-color: #ffffe0 #ffffe0 #BFBFBF #BFBFBF;
    border-style:solid;
    border-width:2px 2px 2px 2px;
    line-height: 0px;
    width:0;
    height:0;
    float:right;
}
.triagle-right-selected {
    border-color: #ffffe0 #ffffe0 #6699CC #6699CC;
    border-style:solid;
    border-width:2px 2px 2px 2px;
    line-height: 0px;
    width:0;
    height:0;
    float:right;
}
.triagle-left {
    border-color: #ffffe0 #BFBFBF #BFBFBF #ffffe0;
    border-style:solid;
    border-width:2px 2px 2px 2px;
    line-height: 0px;
    width:0;
    height:0;
    float:left;
}
.triagle-left-selected {
    border-color: #ffffe0 #6699CC #6699CC #ffffe0;
    border-style:solid;
    border-width:2px 2px 2px 2px;
    line-height: 0px;
    width:0;
    height:0;
    float:left;
}
DIV.clsLogoBaseline {
    border-color:#6699cc; background-color:#6699cc; height:22px; width:100%
}
.scanSettingSpace {
    margin-bottom:20px;
}

div.clsDispInstSoft {
}
.smb-ntw-table_style{
    width:332px;
}
